<div class="main">
<div class="form">
  <div class="container">
    <div class="row">
      <div class="col-md-4 column  pt-5">
      <div class="form-group mb-2">
        <label class="d-block">Brand Website</label>
        <input type="text" value="{{sharedData?.brandWebsite}}">
      </div>
      <div class="form-group mb-2">
        <label class="d-block">Brand Name</label>
        <input type="text" value="{{sharedData?.brandName}}">
      </div>
      <div class="form-group mt-2">
        <label class="d-block">Brand Logo</label>
        <div class="flex">
          <img   [src]="sharedData?.logoofWebsite" height="200" class='card-img logoimg'>
            <span class="add">
              <label class="submit" for="uploader">Upload Logo</label>
            <input type='file' (change)="onSelectFile($event)" multiple hidden id="uploader"></span>
          </div>
      </div>
      </div>
      <div class="col-md-4  pt-5 column">
       <div class="form-group">
        <div class="row" >
          <div class="col-md-4" *ngFor="let colors of themesArray">
            <div class="d-flex align-items-center">
              <div class="orange" [ngStyle]="{backgroundColor:colors}"></div>
              <label class="ms-2">{{colors}}</label>
            </div>
          </div>


          <div class="col-md-4 d-none">
          <button class="me-2 addbtn">+</button>
          <label>Add</label>
          </div>
        </div>
       </div>
        <div class="form-group mt-5">
          <label class="d-block">
            Typography
          </label>
          <select name="" id="">
            <option *ngFor="let elements of TypographyArray">{{elements}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-4  pt-5">
        <div class="form-group">
          <label class="d-block">Brand Description</label>
          <textarea rows="3" value="{{sharedData?.brandDescription}}"></textarea>
        </div>
        <div class="form-group mt-5">
          <label class="d-block">Keywords</label>
          <textarea rows="3" value="{{sharedData?.keywords}}"></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
